<section>
	
	<nav class="navbar navbar-default" style="margin-top: -20px;">
		
		<div class="container-fluid">
			
			<div class="navbar-header" style="width: 100%">
				
				<form class="row navbar-form navbar-left" style="width: 100%">

					<div class="pull-left input-group col-xs-12 col-md-6">
		      			
		      			<input type="text" class="form-control" placeholder="Request an agent">
						
						<span class="input-group-btn">
						
							<button type="button" class="btn btn-default" ui-sref="properties"><span class="glyphicon glyphicon-search"></span></button>
						
						</span>
	    			
	    			</div>	
				
				</form>	
			
			</div>

		</div>

	</nav>

</section>