<div class="row">
	
	<div class="col-xs-12">

		<div class="panel panel-default">
			
			<div class="panel-heading">My account</div>

			<div class="panel-body">

				<form name="updateImageForm" ng-submit="updateImage()" novalidate>

		            <div class="form-group">

						<span class="input-label">
							
							<img src="images/p1.jpg" style="width: 100px; height: 100px;">

						</span>

	                    <input type="file" name="file" id="file" ng-model="account.file" ngf-select ngf-max-size="25MB" required>
					
					</div>

		            <div class="form-group">

						<button type="submit" class="btn btn-primary">Save</button>

					</div>
		            
		        </form>

			</div>
		
		</div>

	</div>

</div>
