<div class="container-fluid">
	
	<div class="row">

		<div class="col-xs-12 col-md-6 col-md-offset-3">

			<div class="panel panel-default">

				<div class="panel-heading">Forgot Password</div>
				
				<div class="panel-body">

					<form name="forgotPasswordForm" ng-submit="forgotPassword()" novalidate>

						<div class="form-group">
		      			
				      		<input type="email" class="form-control" placeholder="Email" ng-model="user.email" required>
		    			
		    			</div>

		    			<p>Please input your email.</p>

						<div class="form-group">

							<button type="submit" class="btn btn-primary" id="forgotPasswordSubmit" data-loading-text="Loading...">Send</button>

						</div>
			
					</form>
				
				</div>
		
			</div>

		</div>

	</div>

</div>
